.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../img/wall.png");
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
    height: 9rem;
    width: 100%;
    color: #ffffff;
    border-bottom: 0.5rem solid #ffd700;
}

.menu-time h2:nth-child(2), .menu-score h2:nth-child(2){
    margin-top: 1rem;
}

.panel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.square{
    background-color: #ffd900b2;
    height: 15rem;
    width: 15rem;
    border: 0.1rem solid #000000;
}

.menu-lives{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.menu-lives img{
    width: 4rem;
}

.enemy{
    background-image: url("../img/ralph.png");
    background-size: cover;
}